font-face {
  font-family: "jetBrainsMono";
  src: url("/src/assets/font/jetBrainsMono.ttf");
}

:root {
  --c-1: #101010;
  --c-2: #f0f8ff;
  --c-3: #1c1c1c;

  font-size: 16px;
}

[data-theme="dark"] {
  --c-1: #ffffff;
  --c-2: #101010;
  --c-3: #f0f8ff;
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;

  color: var(--c-1);
  background-color: var(--c-2);
  font-family: jetBrainsMono, monospace;
}

/* --------- */
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.flex-col {
  flex-direction: column;
}

.flex-cv {
  align-items: center;
}

.flex-ch {
  justify-content: center;
}

.flex-spb {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

/* --------- */
header {
  font-size: 1.5em;
  border-bottom: 0.1em dashed var(--c-1);
}

header, footer {
  width: 100%;
  padding: 0.5em;
}

button
, input[type="number"]
, .output {
  border-radius: 0.3em;
  border: 0.1em solid var(--c-1);
  background-color: transparent;
  padding: 1em 1.5em;
}

.spchars {
  border: none;
  border-bottom: 0.1em solid var(--c-1);
  padding-bottom: 0.3em;
}

button:hover {
  color: var(--c-2);
  background-color: var(--c-1);
}

div.hint {
  position: relative;
  width: 100%;
}

div.hint::before {
  position: absolute;
  top: -0.6em;
  left: 1em;

  content: "tap to select";
  padding: 0 0.3em;
  background-color: var(--c-2);
  font-size: 0.8rem;
}

input[type="text"].output {
  width: 100%;
}

/* ------- */
.switch {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.4em;
}

.switch input {
  display: none;
}


.slider, .slider:before {
  position: absolute;
  border-radius: 0.1em;
  transition: 0.3s;
}

.slider {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.1rem solid var(--c-1);
  background-color: transparent;
}

.slider:before {
  content: "";
  height: 1.1em;
  width: 1.1em;
  top: 0.1em;
  left: 0.1em;
  background-color: var(--c-1);
}

input:checked + .slider:before {
  transform: translateX(1.07em);
}

/* ------- */
.chbx {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.chbx input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  z-index: 100;
}

.chbx .chbx-mark {
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 0.1em solid var(--c-1);
  border-radius: 0.2em;
}

.chbx .chbx-mark::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.45em;
  top: 0.14em;
  width: 0.3em;
  height: 0.7em;
  border: solid var(--c-2);
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.chbx input[type="checkbox"]:checked + .chbx-mark {
  background-color: var(--c-3);
}

.chbx input[type="checkbox"]:checked + .chbx-mark::after {
  display: block;
}

/* -------- */
.btn,
input[type="number"] {
  padding: 0.3em 0.6em;
}

.len-control {
  gap: 0.4rem;
}

.pass-len {
  text-align: center;
}

main {
  width: 40%;
  padding: 0.4em;
}

@media (max-width: 600px) {
  main {
    width: 100%;
    padding: 0.2em;
  }
}
